<div class="recipe-index-search">
  <div class="recipe-index-search-form">
  <%= form_tag recipes_path(), method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Filter by name or description of the recipe"
    %>
    <%= hidden_field_tag "ingredients[]", @ingredients %>
  </div>
  <div class="recipe-index-search-submit">
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>

<div class="recipes-index-container">
  <% if @recipes.present? %>
     <% @recipes.each do |r| %>
         <div class="item-content">
          <div class="item-content-card">
            <div class="item-content-image">
              <%= image_tag r.image, height: 300, width: 400, crop: :fill %>
            </div>
            <div class="item-content-bottom">
              <div class="item-content-details">
                <b><%= link_to r.name, recipe_path(r, ingredients: params[:ingredients]) %></b>
              </div>
              <div class="item-content-save">
                <% if user_signed_in? %>
                  <% if policy(SavedRecipe.new(recipe_id: r.id)).create? %>
                    <%= link_to "Save this recipe", saved_recipes_path(saved_recipe: {recipe_id: r.id}), method: :post, class: "btn btn-primary" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      Sorry, no recipes found.
  <% end %>
<p><%= link_to "Go back to home", root_path %></p>
</div>
