<div class="recipes-container">
  <div class="d-flex justify-content-between header-recipes">
    <div class="header-title">
      <h1> <%= @recipe.name %> </h1>
      <p>From < enter website > </p>
    </div>
    <div class="header-functions">
      <div class="save-button">
        <% if user_signed_in? %>
          <% if policy(SavedRecipe.new(recipe_id: @recipe.id)).create? %>
            <%= link_to "Save this recipe", saved_recipes_path(saved_recipe: {recipe_id: @recipe.id}), method: :post, class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div>
    <video width="500" height="500" controls>
    <source src=<%= @recipe.video_url %> type="video/mp4">
    </video>
  </div>
  
  <div class="d-flex recipe-details-container">
    <div class="recipe-details-description">
      <%= @recipe.description %>
      
      <div>
        <h2><%= "Ingredients" %></h2>
        <% @recipe.ingredients.each do |i| %>
          <li><%= i.name %></li>
        <% end %>
      </div>
      
      <div>
        <h2><%= "Instructions:" %></h2>
        <% @recipe.instructions.each do |i|%> 
          <li><%= i %></li>
        <% end %>
      </div>
    </div>

    <div class="recipe-details-image">
       <% if @recipe.image %>
        <%= image_tag @recipe.image, height: 500, width: 667, crop: :fill %>
        <% end %>
    </div>
  </div>


  <div class="reviews-container">
    <h2>Reviews</h2>

    <div class="review-summary">
      Average Review:
      <% if @detailed_rating.present?%>
      <% @rating.times do %>
        <i class="fas fa-star"></i>
      <% end %>
      (<%= @detailed_rating %> / 5 stars)
    <% else %>
      <p><em>Not yet reviewed<em></p>
    <% end %>
    </div>

    <div class="d-flex flex-wrap">
      <% @recipe.reviews.each do |review| %>
        <div class="review-card">
          <div class="review-card-image">
           <% if review.photo.attached? %>
             <%= cl_image_tag review.photo.key, width: 300, height: 200, crop: :fill %>
           <% end %>
          </div>
          <div class="review-card-details">
            <p>By: <%= review.user.first_name %> <%= review.user.last_name %></p>
            <p>
              <% review.rating.times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </p>
            <p> <%= review.comment %> </p>
          </div>
          <div class="review-card-delete">
            <% if policy(review).destroy? %>
              <%= link_to recipe_path(review), method: :delete, data: {confirm: "Are you sure?"} do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
            <% end %>
          </div>

        </div>
      <% end %>
    </div>
  </div>

  <div>
     <% if user_signed_in?%>
      <p> Add a review
        <%= link_to new_recipe_review_path(@recipe) do %>
          <i class="fas fa-plus-square"></i>
        <% end %>
      </p>
    <% else %>
      <p><%= "Sign in to leave a review" %></p>
    <% end %>
    <p><%= link_to "Go back to recipes", recipes_path(ingredients: params[:ingredients]) %></p>
    <div class="share-buttons">
      <p>Share this recipe with your friends!</p>
      <a href="http://www.facebook.com/sharer.php?u=https://cooknow.club/recipes/<%= @recipe.id %>" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://twitter.com/share?url=https://cooknow.club/recipes/<%= @recipe.id %>&amp;text=Share%20this%20recipe!&amp;hashtags=joincooknow" target="_blank">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="mailto:?Subject=Check out this recipe from the Cook Now Club!&amp;Body=I%20saw%20this%20and%20thought%20of%20you!%20 https://cooknow.club/recipes/<%= @recipe.id %>">
        <i class="fas fa-envelope"></i>
      </a>
      <a href="whatsapp://send?text=Check out this amazing recipe I found on Cook Now! https://cooknow.club/recipes/<%= @recipe.id %>" data-action="share/whatsapp/share">
        <i class="fab fa-whatsapp"></i>
      </a>
    </div>
  </div>

</div>
