<div class="profile-banner">
  <div class="greeting">
    <h1 style="color: white; font-size: 5rem; padding-bottom: 50px; font-weight: 900;">greetings</h1>
  </div>
  <div class="profile">
    <div class="">
      <% if current_user.photo.attached? %>
      <div class="profile-avatar" style="background-image: url('<%= cl_image_path current_user.photo.key, height: 200, width: 200, crop: :fill, gravity: :face %>')" >
        <%= link_to edit_user_registration_path, class: "btn btn-body-color" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
        <%#= cl_image_tag current_user.photo.key, width: 200, height: 200, crop: :fill, gravity: :face %>
    </div>
    <div class="welcome-header">
      <h2><b>Chef <%= current_user.first_name %></b></h2> 
      <% end %>
      <img src=<%= asset_path("knife.svg") %> class='recipe-img' style="height: 165px; transform: rotate(-135deg);margin-top: -100px; position: relative; top: 25px;">
    </div>
  </div>

</div>

<div class="body-container">

  <div class="saved_recipes">
    <h2>Saved recipes:</h2>
    <p><em><%= pluralize(@savedrecipes.count, 'Recipe') %></em></p>
     <div class="d-flex flex-wrap">
       <% @savedrecipes.each do |i| %>
          <div class="saved-content-details detail-box">
              <% if i.recipe.image %>
                <%= image_tag i.recipe.image, height: 250, width: 333, crop: :fill %>
              <% end %>
              <div class="saved-content-name">
                <%= link_to i.recipe.name, recipe_path(i.recipe_id) %>
              </div>
              <div class="saved-content-delete">
                <% if policy(i).destroy? %>
                  <%= link_to saved_recipe_path(i), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-body-color" do %>
                    <i class="fas fa-bookmark"></i>
                  <% end %>
                <% end %>
              </div>
          </div>
       <% end %>
     </div>
  </div>
</div>
