<div class="d-flex justify-content-around align-items-center">
  <div class="profile">
    <div class="welcome-header">
      <h2>Welcome <b><%= current_user.first_name %>!</b></h2>
    </div>
    <div class="avatar-profile">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, width: 250, height: 250, crop: :thumb, gravity: :face, radius: :max %>
      <% end %>
    </div>

    <div>
      <br>
      <p>Phone: <%= current_user.phone_number %></p>
      <p>Email: <%= current_user.email %></p>
    </div>

    <p><em><%= link_to "Edit profile", edit_user_registration_path %></em></p>
  </div>

  <div class="saved_recipes">
    <h2>Your saved recipes: </h2>
     <div class="saved-content">
       <% @savedrecipes.each do |i| %>
          <div class="saved-content-details">
              <h2>
                <%= link_to i.recipe.name, recipe_path(i.recipe_id) %>
                <% if policy(i).destroy? %>
                  <%= link_to "Delete this recipe", saved_recipe_path(i), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" %>
                <% end %>
              </h2>
              <p><%=i.recipe.description%></p>
          </div>
       <% end %>
     </div>
  </div>
</div>
