<div class="d-flex justify-content-center align-items-center profile-banner">
  <div class="profile">
    <div class="avatar-profile">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, width: 200, height: 200, crop: :fill, gravity: :face %>
      <% end %>
    </div>
    <div class="welcome-header">
      <h2><b><%= current_user.first_name %></b></h2>
    </div>
  </div>

</div>

<div class="d-flex justify-content-start">

  <div class="profile-info col-4">
    <h2>
      Basic information
      <%= link_to edit_user_registration_path do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </h2>

    <div>
      <div class="detail-box">
        <p><b>Full name</b> <%= current_user.first_name %> <%= current_user.last_name %></p>
      </div>
      <div class="detail-box">
        <p><b>Phone</b> <%= current_user.phone_number %></p>
      </div>
      <div class="detail-box">
        <p><b>Email Address</b> <%= current_user.email %></p>
      </div>
    </div>

  </div>

  <div class="saved_recipes col-8">
    <h2>Saved recipes:</h2>
    <p><em><%= pluralize(@savedrecipes.count, 'Recipe') %></em></p>
     <div class="d-flex flex-wrap">
       <% @savedrecipes.each do |i| %>
          <div class="saved-content-details detail-box">
              <% if i.recipe.image %>
                <%= image_tag i.recipe.image, height: 250, width: 333, crop: :fill %>
              <% end %>
              <div class="saved-content-name">
                <%= link_to i.recipe.name, recipe_path(i.recipe_id) %>
              </div>
              <div class="saved-content-delete">
                <% if policy(i).destroy? %>
                  <%= link_to saved_recipe_path(i), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-primary" do %>
                    <i class="fas fa-trash-alt"></i>
                  <% end %>
                <% end %>
              </div>
          </div>
       <% end %>
     </div>
  </div>

</div>
